# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.home/.npm/_update-notifier-last-checked
.home/Library/Preferences/.wrangler/metrics.json
.tmp-build/regions.js
.tmp-build/shared/regions.js
.tmp-build/src/region-data.js
.tmp-build/src/worker.js
.tmp-build/worker.js
codex.patch
